body {
  /* background-color: dodgerblue; */
  margin: 0;
}

/* checkerboard layout */

.black {
  width: 100px;
  height: 100px;
  background-color: #222222;
  float: left;
}
.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;
}

/* column layout */

#columns {
  width: 50vw;
  margin: 100px auto 0;
}
#columns header, nav, main, footer {
  width: 100%;
}
#columns header, nav, footer, .column {
  background-color: rebeccapurple;
}
header {
  height: 100px;
  margin-bottom: 25px;
}
nav {
  height: 25px;
  margin-bottom: 25px;
}
main {
  display: flow-root;
}
.column {
  width: calc((100% - 50px) / 3);
  height: 400px;
  float: left;
}
.margins {
  margin-left: 25px;
  margin-right: 25px;
}
footer {
  height: 100px;
  margin-top: 25px;
}

/* blog layout */

#blog {
  width: 800px;
  margin: 100px auto 0;
}
.blog-header {
  width: 800px;
  height: 100px;
  background-color: darkslateblue;
  margin-bottom: 50px;
}
.content {
  width: 650px;
  height: 500px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: darkslateblue;
  float: left;
}
.avatar {
  width: 125px;
  height: 200px;
  background-color: darkslateblue;
  float: left;
}
.byline {
  width: 650px;
  height: 50px;
  background-color: darkslateblue;
  margin-bottom: 100px;
  float: left;
}

/* tennis styles */
#tennis div {
  box-sizing: border-box;
}
#tennis {
  background-color: darkgreen;
}
.court {
  width: 410px;
  display: flow-root;
  border: 5px solid white;
  margin: 50px auto;
}
.singles {
  width: 300px;
  float: left;
}
.side, .top, .middle {
  float: left;
  background-color: green;
  border: 5px solid white;
}
.side {
  width: 50px;
  height: 300px;
}
.top {
  width: 300px;
  height: 100px;
}
.middle {
  width: 150px;
  height: 200px;
}
